---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">华储卡电</span>
    <span class="gpt-subtitle">专用</span>
  </div>
  <p mt-1 op-60>该ChatGPT由成都华储卡电新能源科技有限公司开发，版本为(gpt-3.5-turbo).</p>
</header>
